// Primary
$softBlue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

// Neutral
$bgColor: hsl(217, 54%, 11%); // main BG
$cardColor: hsl(216, 50%, 16%); // card BG
$lineColor: hsl(215, 32%, 27%); // line
$white: hsl(0, 0%, 100%);
