footer {
  position: relative;
  margin-top: 32px;
  height: 32px;
}

.attribution {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 11px;
  text-align: center;
  background-color: #fff;
  padding: 16px;
  width: 100%;

  a {
    color: hsl(228, 45%, 44%);
  }
}
