*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $paleBlue;
  font-family: $font-family;
  font-size: $font-body;
}

.wrapper {
  margin: 0 auto;
}

main.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
