// ## Colors

// ### Primary

$paleBlue: hsl(225, 100%, 94%);
$brightBlue: hsl(245, 75%, 52%);

// ### Neutral

$veryPaleBlue: hsl(225, 100%, 98%);
$desaturatedBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);

// ## Typography

// ### Body Copy

$font-body: 16px;

// ## Font
$font-family: "Red Hat Display", sans-serif;

// ### Font Weight
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

// Shadows

$card-shadow: 2px 2px 14px 8px rgba(114, 128, 167, 0.2);

$button-shadow: 0px 20px 15px 2px rgba(114, 128, 167, 0.2); ;
